@media all and (min-width: 480px) {
    .Login {
      padding: 30px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    body{
      background: #e1f3d2;
    }
    .bg-dark{
      background-color: #393b3c!important
    }
  }
  