.signup{
        padding: 30px 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important; 
        width: 100% !important;   
}

.bg-light{
    background: #e3efe1 !important;
}

.signup form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}
.signup .card {
    flex-direction: row !important;
}
.center-align{
    align-items: center;
    justify-content: center;
}


h2 {
    text-align: center;
    width: 100%;
    color: #111;
}

.text-center{
    text-align: center;
}

.mb10{
    margin-bottom: 10px;
}
label {
    font-size: 1em;
    margin-bottom: 0.25em;    
}

input, textarea, select {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

.width50{
    width:49%;
}

.ml2 {
    margin-left: 2%;
}
.mt20 {
    margin-top: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contactnoInput::-webkit-inner-spin-button, 
.contactnoInput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.width70{
    width: 70% !important;
}

.width100{
    width: 98%;
}

.calendar table, th{
    border: none !important;
}
.calendar td{
    border: none !important;
}
.datetime-picker .calendar .calendar-nav button {
    background: whitesmoke !important;
}
.datetime-picker .calendar table thead th {
    color: #212c0c !important;
}
.datetime-picker .time .sliders .slider {
    background-image: linear-gradient(to right, #464141, #464141) !important;
}
.datetime-picker .time .sliders .slider .handle {
    border: 1px solid #464141 !important;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liCss{
    margin:20px;
    font-size: 18px;
    width: fit-content;
}
aside{
    float: right;
}
.height100{
    height: 100%;
}
.m30{
    margin:30%;
}
.m20{
    margin:20px;
}
.border-left{
    border-left: ridge !important;
}

.alert-secondary {
    color: #383d41;
    background-color: #e3efe1;
    border: groove;
    padding: 1%;
    border-radius: 10px;
}

.color-white{
    color: #fcfcfc !important;
}
.color-black{
    color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(248, 249, 245);
}
.clearfix{
    clear: both;
}