label {
    font-size: 1em;
    margin-bottom: 0.25em;   
}
.btn-primary
{
    color: bisque;
    background-color: #721c24;
    border-color: brown;
}

.creteResource{
    padding-top: 8%;
    padding-left: 13%;
}
form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 500px;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

.width50{
    width:49%;
}

.ml2 {
    margin-left: 2%;
}
.mt20 {
    margin-top: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contactnoInput::-webkit-inner-spin-button, 
.contactnoInput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.width70{
    width: 70%;
}

.width100{
    width: 100%;
}

.datetime-picker .calendar table, th, td{
        border: none !important;
}
.datetime-picker .calendar .calendar-nav button {
    background: whitesmoke !important;
}
.datetime-picker .calendar table thead th {
    color: #212c0c !important;
}
.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liCss{
    margin:20px;
    font-size: 18px;
    width: fit-content;
}
aside{
    float: right;
}
.height100{
    height: 100%;
}
.m30{
    margin:30%;
}
.border-left{
    border-left: ridge !important;
}

.alert-secondary {
    color: #383d41;
    background-color: #6c757d;
    border-color: #d6d8db;
    padding: 1%;
    border-radius: 10px;
}

.color-white{
    color: #fcfcfc !important;
}