.signup{
        padding: 30px 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important; 
        width: 100% !important;   
}



.signup form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 500px;
}

h2 {
    text-align: center;
    width: 100%;
    color: #111;
   
}

label {
    font-size: 1em;
    margin-bottom: 0.25em;    
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

.width50{
    width:49%;
}

.ml2 {
    margin-left: 2%;
}
.mt20 {
    margin-top: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contactnoInput::-webkit-inner-spin-button, 
.contactnoInput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contactno, .email{
    width: 70%;
}

.width100{
    width: 100%;
}


.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}